
.container-exame{
    display: flex;
    background-color: #021933;
   
}

.text {
    white-space:normal;
    color: rgba(255, 255, 255, 0.651);
}

.conteiner-img-exame{
    background-color:  #021933;;
    
}


