
.container-exame{
    display: flex;
    min-height: 760px;
   
}

.text {
    text-align: center;
    color: white;
}

.text-tratamento{
    margin-top: 100px;
}
.img-exame{
    margin-left: 31px;
}