//  .card {
//      width: 216px;
//      height: 361px;
//  }

 .text-card {
     text-align: center;
 }

 .container-dicas {
     background-color:#113155;
     width: 100%;
 }

 // .h1 {
 //   color: green;
 //] }

 .img-dicas {

     width: 174;
     height: 130px;
 }
//  @media screen and (max-width: 700px) {
//     .card-container{
//         display: block !important;
//     }
//     .card {
//         width: 70%;
//         height: 361px;
//     }
           
    
//   }

  