 .card {
     width: 216px;
     height: 361px;
 }

 .text-card {
     text-align: center;
 }

 .conteiner-dicas {
     background-color:#113155;
     width: 100%;
     height: 480px;
    
 }

 // .h1 {
 //   color: green;
 //] }

 .img-dicas {

     width: 174;
     height: 130px;
 }
 @media screen and (max-width: 700px) {
    .card-conteiner{
        display: block !important;
    }
    .card {
        width: 70%;
        height: 361px;
    }
           
    
  }

  