@font-face {
    font-family: 'Fontastique';
    src: url('Fontastique-Fontastique.woff2') format('woff2'),
        url('Fontastique-Fontastique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

