 .card {
     width: 216px;
     height: 361px;
 }

 .text-card {
     text-align: center;
 }

 .conteiner-dicas {
     background-color:#113155;
     height: 480px;
    
 }

 // .h1 {
 //   color: green;
 //] }

 .img-dicas {

     width: 174;
     height: 130px;
 }