#icon {
  display: none; // Inicialmente oculto, controlado via JS.
  position: fixed;
  bottom: 60px;
  right: 7px;
  z-index: 9999;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%; // Botão circular.
  transition: all 0.5s ease-in-out;
  animation: glowing 1300ms infinite; // Animação contínua.
}

#icon img {
  height: 68px;
  width: 68px;
  border-radius: 50%; // A imagem também segue o formato circular.
}

#icon:hover {
  background-color: rgba(7, 228, 18, 0.336); // Efeito hover.
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgb(7, 228, 18);
  }
  50% {
    box-shadow: 0 0 20px rgb(7, 228, 18);
  }
  100% {
    box-shadow: 0 0 5px rgb(113, 255, 118);
  }
}
