@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

.container-dr{
    background-color: #113155;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 540px;

    .d-flex {
        @include media-breakpoint-down(sm) {  
            flex-direction: column;
        }
    }
    
}

.img-dr{
    max-width: 350px;
    max-height: 350px;

    @include media-breakpoint-down(sm) {  
        margin-left: auto;
        margin-right: auto;
    }
}
.text-dr{
    font-size: 1rem;
    color: white;
}

h1{
    color: greenyellow;
}
h4{
    color: green;
}