.conteiner-dr{
    background-color: #113155;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 540px;
}

.img-dr{
    width: 370px;
    height: 370px;
    border-radius: 50%;
}
.text-dr{
    font-size: 14px;
    color: white;
}

h1{
    color: greenyellow;
}
h4{
    color: green;
}