@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

.container-dr{
    background-color: #113155;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 540px;

    .d-flex {
        @include media-breakpoint-down(md) {  
            flex-direction: column;
            margin-top: 1rem;
        }
    }
    
}

.img-dr{
    max-width: 350px;
    max-height: 350px;

    @include media-breakpoint-down(md) {  
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 90%;
    }
}
.text-dr{
    font-size: 1rem;
    color: white;
}

h1{
    color:#fcff25 !important;
}
