.container {
    background-color:  #021933;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 560px;
   
}
.text-clinica{
    text-align: center;
}
.img-clinica {
    width: 350px;

}
.text-dr{
    font-size: 1rem;
    color: white;
}

h1{
    color: greenyellow;
}
h4{
    color: green;
}
.blog-post-container{
    background-color: #113155;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.blog-post-content{
color: white;
}
.text-clinica{
    text-align: center;
}
.img-clinica {
    width: 350px;

}
.text-dr{
    font-size: 1rem;
    color: white;
}

h1{
    color: #73ff00
}
h4{
    color: greenyellow;
}
strong{
    color: green;
    
}
a {
    text-decoration: none;
}

