@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

.container-clinica {
    background-color: #021933;

    .d-flex {
        @include media-breakpoint-down(lg) {
            // flex-direction: column;
            padding-top: 1rem;
        }
    }
}

.ril__zoomInButton {
    margin-top: 100px !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 560px;
}

.text-clinica {
    text-align: center;
    color: white;
}

.img-clinica {
    width: 350px;
    margin: .2rem;

}


.blog-post-container {
    background-color: #113155;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.blog-post-content {
    // color: white;
}

.text-clinica {
    text-align: center;


    // &h1 {
        // color: #73ff00 !important;
    // }
}

.img-clinica {
    width: 350px;

}

a {
    text-decoration: none;
}