.footer-container{
    // border-top: 1px solid #ddd;
    margin-top: 10px;
    background-color: #fff;
}
.icons-footer{
    border-top: solid 1px rgba(var(--bs-dark-rgb),var(--bs-border-opacity))!important;
    --bs-border-opacity: 1;
  
}

ul{
    list-style-type: none;
}
h4{
    color: #1258bf !important
}

.img-icon-footer{
 width: 20px;

}