.footer-container{
    background-color: #0a0a0a;
}
.icons-footer{
    border-top: solid 1px rgba(var(--bs-dark-rgb),var(--bs-border-opacity))!important;
    --bs-border-opacity: 1;
  
}

ul{
    list-style-type: none;
}