.footer-container{
    background-color: #021933;
}
.icons-footer{
    border-top: solid 1px rgba(var(--bs-dark-rgb),var(--bs-border-opacity))!important;
    --bs-border-opacity: 1;
  
}

ul{
    list-style-type: none;
}
h4{
    color: #1258bf !important
}